<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MSSQLDbConfig" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=D:\VISUAL STUDIO 2013 DEMO\LAB\USESQLWEBAPPLICATION1\USESQLWEBAPPLICATION1\APP_DATA\NORTHWND.MDF;User ID=sa;Password=GELISpass01"/>
  </connectionStrings>
</configuration>